html {
    font-size: 16px;
    background: #001019;
}
:root {
    --c-white: #e1e1e1;
    --c-orange: #d49d32;
    --c-blue: #42b8f3;
    --c-grey: #b8b8b8;

    --fs-s: 0.75rem;
    --fs-xs: 0.875rem;
    --fs-1: 1rem;
    --fs-2: 1.25rem;
    --fs-3: 1.5rem;
    --fs-4: 2rem;
    --fs-5: 2.5rem;
    --fs-6: 3rem;

    --bp-s: 576px;
    --bp-m: 768px;
    --bp-l: 960px;
    --bp-xl: 1280px;
}

body {
    background: #072b40;
    
    background-position: 0 200px;
    background-size: auto;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--c-white);
    overflow-y: auto;
    overflow-x: hidden;
    &::-webkit-scrollbar {
        width: 4px;
        background: #072b40;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #a46b17;
        -webkit-border-radius: 2ex;
    }
    background: 
    linear-gradient(
        to right,
        transparent 0%,
        rgba(0, 0, 0, 0.4) 30%,
        rgba(0, 0, 0, 0.4) 70%,
        transparent 100%
    ),
    url("./bg-img/bg-xl.svg"); /* Указываем путь через /, если файл в public */

    background-size: cover;
    background-repeat: no-repeat;
    background-position: center -500px;
}
main {
    width: 900px;
    margin: 0 auto;
}
h1 {
    font-size: var(--fs-5);
    line-height: 1.5;
}
h2 {
    font-size: var(--fs-4);
    line-height: 1.5;
}

@media screen and (max-width: 900px) {
    body{
        background: 
        linear-gradient(
            to right,
            transparent 0%,
            rgba(0, 0, 0, 0.4) 30%,
            rgba(0, 0, 0, 0.4) 70%,
            transparent 100%
        ),
        url("./bg-img/bg-lg.svg");
        background-position: center -750px;
    }        
}
@media screen and (max-width: 576px) {
    body{
        background: 
        linear-gradient(
            to right,
            transparent 0%,
            rgba(0, 0, 0, 0.4) 30%,
            rgba(0, 0, 0, 0.4) 70%,
            transparent 100%
        ),
        url("./bg-img/bg-md.svg");
        background-position: center -500px;
    }    
    h1 {
        font-size: var(--fs-4);
        line-height: 1.5;
    }
    h2 {
        font-size: var(--fs-3);
        line-height: 1.5;
    }
}

.show-counter {
    display: flex;
    align-items: center;
    color: #fcfcfc;

    .countdown {
        line-height: 1.25rem;
        padding: 0 0.75rem 0 0.75rem;
        align-items: flex-start;
        display: flex;
        flex-direction: column;
    }
}

