body {
    background-color: #072B40;
    background-image:
            linear-gradient(
                            to right, transparent 0%,
                            rgba(0, 0, 0, .4) 30%,
                            rgba(0, 0, 0, .4) 70%,
                            transparent 100%),
            url("../../../public/images/bg-shapes.svg");
    background-position: 0 200px;
    background-size: auto;
    background-repeat: repeat-y;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    overflow-y: auto;
    &::-webkit-scrollbar {
        width: 4px;
        background: #072B40;
    }

    &::-webkit-scrollbar-thumb {
        background-color: #A46B17;
        -webkit-border-radius: 2ex;
    }
}
main {
    width: 900px;
    margin: 0 auto;

}

