.Slider {
  position: relative;
  width: 100vw;
  height: 500px;

  overflow: hidden;

  @media screen and (max-width: 900px) {
    height: 260px;
  }

  @media screen and (max-width: 768px) {
    margin-bottom: 2rem;
  }
  
}
.mask_img{
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    #02121c 20%,
    #02121c 80%,
    transparent 100%
  );
}
.sliderTitle {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 37%;
  right: 0;
  max-width: 750px;
  display: flex;
  align-items: center;

  h1 {
    font-size: 3rem;
    font-weight: 500;
    color: #E8C1B0;
    align-self: flex-end;
    @media screen and (max-width: 900px) {
      font-size: 2rem;
      
    }
  }
}
@media screen and (max-width: 760px) {
  .sliderTitle {
    left: 0;
    justify-content: center;
    padding: 11rem 1rem 0;

    h1 {
      font-size: 1.5rem;
    }
  }
}
