.Slider {
  position: relative;
  width: 100%;
  height: 500px;
  mask-image: linear-gradient(
    to top,
    transparent 0%,
    black 20%,
    black 80%,
    transparent 100%
  );
  overflow: hidden; 
}
.sliderTitle {
  position: absolute;
  z-index: 1;
  top: 0;
  bottom: 0;
  left: 37%;
  right: 0;
  max-width: 750px;
  display: flex;
  align-items: center;
}
@media screen and (max-width: 760px) {
  .sliderTitle {
    left: 0;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 4rem;
    h1 {
      text-align: center;
      font-size: 2rem;
    }
  }
}
