.CardMember {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 185px;
  text-align: center;
  .avatar {
    position: relative;
    overflow: hidden;
    border-radius: 26px;
    width: 100%;
    height: 180px;
    transition: 0.3s;
    cursor: pointer;
    &:hover {
      transform: scale(1.1, 1.1);
    }
  }
  h3 {
    margin-top: 10px;
    font-size: 16px;
    font-weight: 600;
  }
  p {
    font-size: 14px;
    font-weight: 500;
    line-height: 24px;
  }
}

@media screen and (max-width: 480px) {
    .CardMember {
        width: 145px;
        .avatar {
          height: 145px;
        }
    }
}