.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 10px;
	color: #fff;

	.avatar {
		flex-shrink: 0;
		margin: 20px;
		height: calc(120px + 6vw);
		width: calc(130px + 6vw);
		border: calc(8px + 0.2vw) solid transparent;
		border-radius: 8%;
		background-origin: border-box;
		background-clip: content-box, border-box;
		background-size: cover;
		box-sizing: border-box;
		box-shadow: 0 0 5px 5px rgba(0, 0, 0, 0.5);
		background-image: url('../../../../public/otto.png'), linear-gradient(rgb(126 87 194 / 45%), rgb(121 134 203 / 25%));
    	opacity: 95%;
		transition: 1s;
		cursor: pointer;

		&:hover {
			opacity: 100%;
			transform: scale(1.2, 1.2);
		}
	}
	
	.name {
		font-size: 24px;
		font-weight: 600;
		line-height: 29px;
		color: #ffffff;
	}
	
	.skills {
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 32px;
		color: #ffffff;
	}
}

.image {
	border-radius: 30%;
}
