.wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 15px;
	color: #fff;

	.avatar {
		// width: 100px;
		// height: 140px;
		// background-color: aliceblue;
	}

	.name {
		font-size: 24px;
		font-weight: 600;
		line-height: 29px;
		color: #ffffff;
	}

	.skills {
		text-align: center;
		font-size: 16px;
		font-weight: 500;
		line-height: 32px;
		color: #ffffff;
	}
}
.image {
	object-fit: contain;
}
