.chatWrap {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 90%;
    border: 1px solid rgba(5, 5, 5, 0.06);
    border-radius: 6px;
    background: #e6f4ff;

    .chatHeader {
        border-bottom: 1px solid rgba(5, 5, 5, 0.06);
        flex-grow: 0;
        padding: 5px 10px;
        transition: 0.2s;
        cursor: pointer;
        
        .userName {
            border-radius: 6px;
            padding: 5px;
            &:hover {
                background: rgba(0, 0, 0, 0.06);
            }
        }
    }

    .chatBodyWrap {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        flex-grow: 10;
        padding: 10px 10px;

        .chatBody {
            height: auto;
            width: 100%;
        }
    }

    .chatFooter {
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid rgba(5, 5, 5, 0.06);
        flex-grow: 0.4; 
        padding: 5px 10px;       
    }
}


.messageContainer {
    display: flex;

    .messageWrap {
        position: relative;
        width: 30%;
        height: 8%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        border: 1px solid rgba(5, 5, 5, 0.06);
        border-radius: 6px;
        background: #e6f4ff;
        padding-left: 10px;
    
        .text {
            font-size: 18px;
            font-weight: 400;
        }
    
        .time {
            font-size: 12px;
            font-weight: 400;
            position: absolute;
            right: 8px;
            bottom: 4px;
        }
    }
}

.emoji {
    margin: 2px;
    cursor: pointer;
    border-radius: 3px;

    &:hover {
        background-color: gainsboro;
    }
}

