.GlowContainer {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  pointer-events: none;
}

.Glow {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  filter: blur(100px);
  opacity: 0.8;
  &.blue {
    background-color: blue;
    top: 5%;
    left: 5%;
  }

  &.yellow {
    background-color: yellow;
    top: 50%;
    left: 70%;
  }

  &.green {
    background-color: green;
    top: 80%;
    left: 10%;
  }

  &.red {
    background-color: red;
    top: 85%;
    left: 80%;
  }
}
