.Header {
  width: 1280px;
  max-width: 100%;
  padding: 30px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  .btnGroup {
    display: flex;
    gap: 2rem;
  }
}

@media screen and (max-width: 490px) {
  .isMobile {
    span {
      display: none;
    }
  }
  .Header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #072B40;
    box-shadow: 0 4px 10px rgba(0,0,0,0.5);
    .btnGroup {
      gap: 1rem;
    }
  }
}

@media screen and (max-width: 900px) {
  .Header {
    position: sticky;
    top: 0;
    z-index: 10;
    background-color: #072B40;
    box-shadow: 0 8px 20px rgba(0,0,0,0.5);
  }
}