.Navbar {
  position: relative;
  width: 100%;
  max-width: 1250px;
  margin-top: 30px;
  padding: 20px 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  &::before {
    content: "";
    position: absolute;
    background: linear-gradient(
      270deg,
      rgba(56, 34, 5, 0) 0%,
      #965e15 13.59%,
      #0e5e84 50.98%,
      #638917 78.07%,
      rgba(30, 19, 7, 0) 100%
    );
    height: 3px;
    width: 100%;
    top: -3px;
    z-index: 1;
  }
  .item {
    position: relative;
    min-width: 80px;
    padding: 0 10px;
    font-size: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    user-select: none;
    &.active:before {
      content: "";
      position: absolute;
      background: var(--c-orange);
      height: 15px;
      width: 100%;
      top: -35px;
      transform: perspective(50px) rotateX(50deg);
    }
    &.active {
      color: var(--c-orange);
    }
  }
}
