.SquareCard {
    width: 336px;
    height: 312px;
    flex-shrink: 0;
    border-radius: 26px;
    background: linear-gradient(146deg, #072636 0%, #083d6c 100%);
    box-shadow: 0 1px 1px #184f69 inset;
    padding: 36px;
}
