.messengerWrap {
    display: flex;
    flex-direction: column;
    width: 40%;
    height: auto;
    border: 1px solid #0505050f;
    border-radius: 6px;
    background: #e6f4ff;

    .messengerHeader {
        padding: 10px;
        border-bottom: 1px solid #0505050f;
    }

    .messengerMessagesWrap {}
}