.SocialRoadmapCard {
    position: relative;
    p {
        color: #B8B8B8;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .ArrowLeft {
        position: absolute;
        top: 45%;
        left: 0;
        transform: translateX(-100%);
    }
    .ArrowRight {
        position: absolute;
        top: 45%;
        right: 0;
        transform: translateX(100%);
    }
    .ArrowFinal {
        position: absolute;
        top: 45%;
        right: 0;
        transform: translateX(120%);
    }
}
