.SocialRoadmapCard {
    position: relative;
    p {
        color: #B8B8B8;
        font-size: 16px;
        font-weight: 400;
        line-height: 20px;
    }
    .ArrowLeft {
        position: absolute;
        top: 45%;
        left: 0;
        transform: translateX(-100%);
    }
    .ArrowRight {
        position: absolute;
        top: 45%;
        right: 0;
        transform: translateX(100%);
    }
    .ArrowFinal {
        position: absolute;
        top: 45%;
        right: 0;
        transform: translateX(120%);
    }
}

@media screen and (max-width: 576px) {
    .SocialRoadmapCard {
        position: relative;
        .ArrowLeft {
            top: 0;
            bottom: unset;
            right: unset;
            left: 42%;
            transform: translateY(-130%) rotate(90deg);
        }
        .ArrowRight {
            top: unset;
            bottom: 0;
            right: unset;
            left: 42%;
            transform: translateY(130%) rotate(90deg);
        }
        .ArrowFinal {
            top: 45%;
            right: 0;
            transform: translateY(120%) rotate(90deg);
        }
    }
}