.Substrate {
  margin-top: 50px;
  border-radius: 26px;
  // background: linear-gradient(
  //                 318deg,
  //                 rgba(9, 21, 26, 1) 0%,
  //                 rgba(7, 46, 63, 1) 100%
  // );
  background: radial-gradient(circle at 100% 100%, #072b40 0, #072b40 37px, transparent 37px) 0% 0%/40px 40px no-repeat,
  radial-gradient(circle at 0 100%, #072b40 0, #072b40 37px, transparent 37px) 100% 0%/40px 40px no-repeat,
  radial-gradient(circle at 100% 0, #072b40 0, #072b40 37px, transparent 37px) 0% 100%/40px 40px no-repeat,
  radial-gradient(circle at 0 0, #072b40 0, #072b40 37px, transparent 37px) 100% 100%/40px 40px no-repeat,
  linear-gradient(#072b40, #072b40) 50% 50%/calc(100% - 6px) calc(100% - 80px) no-repeat,
  linear-gradient(#072b40, #072b40) 50% 50%/calc(100% - 80px) calc(100% - 6px) no-repeat,
  conic-gradient(from 301deg, #808a91 0%, #101d24 6%, #101d24 11%, #3c413f 17%, #6b706e 22%, #6d8670 24%, #628e69 26%, #416756 31%, #416756 40%, #2d3f4a 46%, #263448 51%, #2e5150 54%, #478260 58%, #536b66 64%, #1d2c33 70%, #1d2c33 83%, #808a91 100%);
  box-shadow: 0px 0px 0px 0 rgba(255, 255, 255, 0.25) inset,
  0px 0px 0px 0 rgba(61, 86, 95, 0.25) inset,
  900px -200px 500px -20px rgba(123, 68, 0, 0.20),
  -1000px 400px 700px 0px rgba(33, 209, 220, 0.15);
  width: 100%;
  max-width: 1200px;
  padding: 50px 100px;
  border-radius: 40px;
  
  // position: relative;
  // z-index: 1;
  // &::after{
  //   content: '';
  //   width: 100%;
  //   height: 100%;
  //   background-color: #072b40;
  //   position: absolute;
  //   top: 0;
  //   left: 0;
  //   z-index: -1;
  // }
  .text_box {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    white-space: pre-line;
  }
  .scroll {
    padding: 0 50px 0 0;
    height: 400px;
    overflow-y: auto;
    &::-webkit-scrollbar-track
    {
      background: rgb(7,43,64);
      background: -moz-linear-gradient(90deg, rgba(7,43,64,1) 0%, rgba(7,43,64,1) 45%, rgba(255,255,255,1) 50%, rgba(7,43,64,1) 55%, rgba(7,43,64,1) 100%);
      background: -webkit-linear-gradient(90deg, rgba(7,43,64,1) 0%, rgba(7,43,64,1) 45%, rgba(255,255,255,1) 50%, rgba(7,43,64,1) 55%, rgba(7,43,64,1) 100%);
      background: linear-gradient(90deg, rgba(7,43,64,1) 0%, rgba(7,43,64,1) 45%, rgba(255,255,255,1) 50%, rgba(7,43,64,1) 55%, rgba(7,43,64,1) 100%);
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#072b40",endColorstr="#072b40",GradientType=1);
    }
    
    &::-webkit-scrollbar
    {
      width: 13px;
      background-color: #F5F5F5;
    }
    
    &::-webkit-scrollbar-thumb
    {
      // border-radius: 10px;
      // -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
      background-color: #fff;
      border-radius: 6px;
    }
  }
  h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    white-space: pre-line;
  }
  h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 3;
    margin-bottom: 10px;
    white-space: pre-line;
  }
}
.button_wrapper {
  margin-top: 30px;
  padding: 16px 15px;
  border-radius: 20px;
  font-size: 20px;
  background: #072b40;
  box-shadow: 0 0 20px 0 #072b40;
}



@media screen and (max-width: 1200px) {
  .Substrate {
    padding: 40px;

    .scroll {
      padding: 0 30px 0 0;
    }
  }
  .with_button{
    padding-bottom: 160px;
    .scroll {
      height: 216px;
    }
  }
  .button_wrapper {
    position: relative;
    margin-top: -120px;
  }
}
@media screen and (max-width: 576px) {
  .Substrate {
    margin-top: 0;
    padding: 50px 20px 50px 30px;

    .scroll {
      padding: 0 20px 0 0;
      touch-action: pan-y;
    }

    h3 {
      font-size: 20px;
      line-height: 2;
    }
  }
  .with_button{
    padding-bottom: 80px;
    .scroll {
      height: 216px;
    }
    h2{
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .button_wrapper {
    margin-top: 40px;
  }
}
@media screen and (max-width: 480px) {
  .with_button{
    padding-bottom: 80px;
    .scroll {
      height: 216px;
      font-size: 0.875rem;
    }
    h2{
      font-size: 1rem;
      font-weight: 400;
    }
  }
  .button_wrapper {
    margin-top: 40px;
  }
}
