.Substrate {
  margin-top: 50px;
  border-radius: 26px;
  background: linear-gradient(
    318deg,
    rgba(9, 21, 26, 0.3) 0%,
    rgba(7, 46, 63, 0.3) 100%
  );
  box-shadow: 1px 1px 2px 0 rgba(255, 255, 255, 0.25) inset,
    -2px -2px 4px 0 rgba(61, 86, 95, 0.25) inset;
  backdrop-filter: blur(10px);
  width: 100%;
  max-width: 1200px;
  padding: 50px 100px;
  .text_box {
    font-size: 16px;
    font-weight: 300;
    line-height: 2;
    text-align: justify;
    white-space: pre-line;
  }
  .scroll {
    padding: 0 50px 0 0;
    height: 400px;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #fff #072b40;

    &::-webkit-scrollbar {
      width: 2px;
      background: #b9b9b9;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #fff;
      outline: 4px solid #fff;
      -webkit-border-radius: 2ex;
    }
  }
  h2 {
    font-weight: 600;
    text-align: center;
    margin-bottom: 30px;
    white-space: pre-line;
  }
  h3 {
    font-size: 22px;
    font-weight: 500;
    line-height: 3;
    margin-bottom: 10px;
    white-space: pre-line;
  }
}

@media screen and (max-width: 1200px) {
  .Substrate {
    padding: 40px;

    .scroll {
      padding: 0 30px 0 0;
    }
  }
}
@media screen and (max-width: 576px) {
  .Substrate {
    margin-top: 0;
    padding: 50px 20px 50px 30px;

    .scroll {
      padding: 0 20px 0 0;
      touch-action: pan-y;
    }

    h3 {
      font-size: 20px;
      line-height: 2;
    }
  }
  
}
