html,
body {
	padding: 0;
	margin: 0;
	color: #fff;
	background-color: #0b0a08;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	.page {
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 1920px;
		min-height: 100vh;
		margin: 0 auto;

		&::before {
			content: "";
			background: linear-gradient(
				97.3deg,
				#17a59f 1.12%,
				#966b08 104.69%
			);
			position: absolute;

			filter: blur(100px);

			top: 100%;
			left: 0;
			transform: translate(-50%, -50%);
			width: 100px;
			height: 500px;
		}
		&::after {
			content: "";
			background: #d49d32;

			position: absolute;

			filter: blur(100px);

			top: 130%;
			right: 0;
			transform: translate(-50%, -50%);
			width: 100px;
			height: 300px;
		}
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: 50px;
		margin: 50px 0px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
.nextEl {
	position: absolute;

	width: 100px;
	height: 120px;
	background-size: contain;
	background: url("/images/right-arrow.svg") no-repeat center;
	top: 30%;
	right: -20%;
	z-index: 3;
	cursor: pointer;
}
.prevEl {
	position: absolute;
	width: 100px;
	height: 120px;
	background-size: contain;
	background: url("/images/left-arrow.svg") no-repeat center;
	top: 30%;
	left: -20%;
	z-index: 3;
	cursor: pointer;
}
