html,
body {
	padding: 0;
	margin: 0;
	color: #fff;
	background-color: #0b0a08;
	font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
		Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

	.page {
		display: flex;
		align-items: center;
		flex-direction: column;
		max-width: 1920px;
		min-height: 100vh;
		margin: 0 auto;
	}

	.item {
		display: flex;
		flex-direction: column;
		gap: 50px;
		margin: 50px 0px;
	}
}

a {
	color: inherit;
	text-decoration: none;
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
	html {
		color-scheme: dark;
	}
	body {
		color: white;
		background: black;
	}
}
.nextEl {
	position: absolute;

	width: 100px;
	height: 100px;
	background-size: contain;
	background: url("/images/right-arrow.svg") no-repeat center;
	top: 30%;
	right: 0;
	z-index: 3;
	cursor: pointer;
}
.prevEl {
	position: absolute;
	width: 100px;
	height: 100px;
	background-size: contain;
	background: url("/images/left-arrow.svg") no-repeat center;
	top: 30%;
	left: 0;
	z-index: 3;
	cursor: pointer;
}
