@use "sass:math";

$breakpoint-to-fluid: 992px;
$breakpoint-to-sm: 720px;
$base-vw: 1920px;

$breakpoint-lg: 992px;
$breakpoint-md: 768px;
$breakpoint-sm: 576px;

$container-lg: 1230px;
$container-md: 720px;
$container-sm: 540px;

$p: 15px;
$trn: 0.38s ease-in-out;

/*--- Colors ---*/
$basic-white: #ffffff;
$basic-black: #303030;
$background-dark: #303030;
$background-white: #f9f9f9;
$basic-blue: #90aadb;

$basic-grey: #4a4a4a;
$background-grey: #4a4a4a;
$basic-purple: #b36cff;
$basic-yellow: #ccff00;

//@mixin blueGradient {
//  background: linear-gradient(
//                  91.42deg,
//                  rgba(46, 105, 255, 0.5) 0%,
//                  rgba(0, 192, 169, 0.5) 100%
//  );
//  background-size: 100% 100%;
//  transition: $trn;
//  &:hover {
//    background-size: 200% 100%;
//  }
//}

@mixin container {
	width: 100%;
	max-width: $container-lg;
	padding-left: $p;
	padding-right: $p;
	margin: auto;

	@media screen and (max-width: $breakpoint-lg) {
		max-width: $container-md;
	}

	@media screen and (max-width: $breakpoint-md) {
		max-width: $container-sm;
	}

	@media screen and (max-width: $breakpoint-sm) {
		max-width: none;
	}
}

@function strip-unit($number) {
	@if type-of($number) == "number" and not unitless($number) {
		@return math.div($number, $number * 0 + 1);
	}
	@return $number;
}

@function calcFluidFontSize($f-min, $f-max, $w-min, $w-max, $units: px) {
	$f-min: strip-unit($f-min);
	$f-max: strip-unit($f-max);
	$w-min: strip-unit($w-min);
	$w-max: strip-unit($w-max);
	$k: math.div($f-max - $f-min, $w-max - $w-min);
	$b: $f-min - $k * $w-min;
	$b: $b + $units;
	@return calc(#{$k} * 100vw + #{$b});
}

@mixin fluid(
	$property,
	$f-min,
	$f-max,
	$w-min: $breakpoint-to-fluid,
	$w-max: $base-vw,
	$fallback: false
) {
	#{$property}: $f-min;
	@media (min-width: $w-min) {
		@if ($fallback) {
			#{$property}: $fallback;
		}
		#{$property}: calcFluidFontSize($f-min, $f-max, $w-min, $w-max, px);
	}
	@media (min-width: $w-max) {
		#{$property}: $f-max;
	}
}
