.logoWrap {
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
    
    .logo {
        float: left;
        width: 120px;
        height: 31px;
        margin: 16px 24px 16px 0;
        background: rgb(143 138 138 / 30%);
    }
    
    .text {
        color: aliceblue;
        font-size: 30px;
        font-weight: 400;
    }
}
