.Section {
  width: 100%;
  margin-top: 50px;
  padding: 30px 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
}
