.ExternalLink {
  background: none;
  border: none;
  user-select: none;
  text-decoration: none;
  border-radius: 8px;
  padding: 14px 60px;
  text-align: center;
  font-family: inherit;
  font-size: 20px;
  font-weight: 500;
  color: var(--c-white);
  outline: none;
  cursor: pointer;
  display: flex;
  column-gap: 10px;
  align-items: center;
  transition: 0.2s;
  &:hover {
    filter: brightness(90%);
  }
}
.default {
  border-radius: 26px;
}
.orange {
  background: linear-gradient(161deg, #4a4b08 0%, #a46b17 100%);
  box-shadow: 2px 12px 8px 4px #041c30, 2px -5px 7px 2px #10436d,
    1px 1px 1px 0px rgba(255, 255, 255, 0.21) inset;
}
.blue {
  background: linear-gradient(161deg, #105390 0%, #4d7da9 100%);
  box-shadow: 2px 12px 8px 4px #041c30, 2px -5px 7px 2px #10436d,
    1px 1px 1px 0px rgba(255, 255, 255, 0.21) inset;
}

.green_blue {
  background: linear-gradient(161deg, #109034 0%, #4d7da9 91.23%);
  box-shadow: 2px 12px 8px 4px #041c30, 2px -5px 7px 2px #10436d,
    1px 1px 1px 0px rgba(255, 255, 255, 0.21) inset;
}
.clear {
  padding: 0;
  border-radius: 0;
}

@media screen and (max-width: 490px) {
    .ExternalLink {
      padding: 14px 30px;
    }
}