.nbutton {
    height: 32px;
    width: 200px;
    border-radius: 26px;
    border: 0;
    background: linear-gradient(97.3deg, #07CEFF 1.12%, #DBDBDB 104.69%);
    font-size: 15px;
    font-weight: 700;
    line-height: 24px;
    color: #26405E;
    cursor: pointer;
}