@import "../../../../assets/styles/mixins.scss";

.container {
	@include container;

	margin: 0 auto;
}
.wrapper {
	@include fluid(margin-top, 20px, 40px);
	@include fluid(margin-bottom, 20px, 40px);
	@include fluid(padding-top, 40px, 60px);
	@include fluid(padding-bottom, 40px, 60px);

	border-top: 1px solid #fff;
	border-bottom: 1px solid #fff;

	display: flex;
	justify-content: center;
	align-items: flex-end;
}
.title {
	@include fluid(font-size, 42px, 56px);
	color: $basic-purple;
}
.subtitle {
	@include fluid(font-size, 28px, 36px);
	color: $basic-blue;
}
