@import "../../../../assets/styles/mixins.scss";

.container {
	@include container;
	@include fluid(margin-top, 30px, 60px);
	@include fluid(margin-bottom, 30px, 60px);

	display: flex;
	justify-content: space-between;
	align-items: center;
}
.logo {
	display: flex;
	align-items: center;
}
.logoImage {
	@include fluid(margin-right, 10px, 20px);
}
.menu {
	display: flex;
	justify-content: space-evenly;
	flex-grow: 1;

	@media screen and (max-width: $breakpoint-md) {
		flex-direction: column;
	}
}
.item {
	list-style: none;

	@media screen and (max-width: $breakpoint-md) {
		@include fluid(margin-bottom, 20px, 30px);

		display: flex;
		justify-content: center;
	}
}
.link {
	@include fluid(font-size, 16px, 24px);
	color: $basic-grey;

	&:hover {
		color: $basic-white;
		transition: $trn;
	}
}
.active {
	color: $basic-blue;
}
.buttons {
	@media screen and (max-width: $breakpoint-md) {
		@include fluid(margin-top, 20px, 30px);

		display: flex;
		justify-content: center;
	}
}
.button {
	color: $basic-purple;
	background: none;
	border: 1px solid $basic-yellow;
}
.burgerMenu {
	border: none;
	background: none;
}
